.reportpdf_header {
  text-transform: uppercase;
  display: flex;
  color: white;
  height: 5rem;
  font-size: 1.2rem;
}

.section-1-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-1-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid #80808020;
  padding: 0 2rem;
}
.section-1-title p,
.section-1-img-div p {
  margin: 0;
}

.section-1-profile-card {
  display: flex;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0.5rem;
  flex: 33%;
  box-shadow: 0 0 1px 5px rgb(238, 238, 238);
}
.section-1-profile-card p {
  margin: 0;
}

.section-1-profile-card-img {
  margin-right: 3rem;
  height: 5rem;
  width: 8rem;
  border-radius: 8px;
}

.font-sm {
  font-size: 0.8em;
}

.title-trapezoid {
  background-color: #111111;
  color: #ffffff;
}

.section-2-table-header {
  background: #ab2d24;
  padding: 0.2rem;
  color: #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2-table-body {
  width: 100%;
  display: flex;
  flex: auto;
  background: #fff;
  justify-content: space-between;
  align-items: center;
}

.horizontal-divider {
  height: 1px;
  background-color: #111;
  width: 80%;
  margin: 1rem 0;
}

.table-content {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-size: 10px;
}

.vertical-divider {
  width: 1px;
  background-color: #111;
  height: 6rem;
}

.count-table {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-red {
  background: #ab2d24;
}

/* #region trapezoid */
.trapezoid {
  position: relative;
  width: fit-content;
  height: 0;
  text-align: center;
}

.trapezoid-right {
  padding-right: 4rem;
  padding-left: 1rem;
  border-bottom: 2rem solid black;
  border-right: 3rem solid transparent;
}

.trapezoid-both {
  padding: 0 1rem;
  border-bottom: 4rem solid black;
  border-right: 3rem solid transparent;
  border-left: 3rem solid transparent;
}

.trapezoid .text {
  color: white;
  font-size: 1rem;
  line-height: 4rem;
  text-wrap: wrap;
  text-align: center;
}

.line-height-2rem {
  line-height: 2rem !important;
}

/* #endregion */

.party-logo {
  height: 40px;
  width: 70px;
  background-color: #f2f0f0;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.party-logo img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
