{% import 'header_template.html' as Header %} {% import
'label_value_component_template.html' as LabelValueComponent %} {% import
'graph_components/Individual_graph_2_year_container.html' as
IndividualGraph2YearContainer %} {% import
'graph_components/Individual_graph_4_year_container.html' as
IndividualGraph4YearContainer %}

<head>
  <meta charset="utf-8" />
  <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="assets/css1.css" />
  <link rel="stylesheet" type="text/css" href="assets/css2.css" />
  <link rel="stylesheet" type="text/css" href="assets/css3.css" />
  <link rel="stylesheet" type="text/css" href="assets/css4.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>

{% for KEY, iterations in GRAPH_DATA.items() %} {% for iteration in iterations
%}
<div class="comparative_analysis_pdf_graph_page page-break">
  {{ Header.render(PAGE_NO="1", TITLE=HEADER, SECOND_TITLE="") }}

  <div style="display: flex; gap: 1rem">
    {{ LabelValueComponent.render(GENDER_DATA=iteration[0]["gender_stats"],
    AGE_DATA=iteration[0]["age_stats"], number=iteration[0]["booth_no"]) }} {{
    LabelValueComponent.render(GENDER_DATA=iteration[1]["gender_stats"],
    AGE_DATA=iteration[1]["age_stats"], number=iteration[1]["booth_no"]) }}
  </div>

  {% if GRAPH_FORMAT == 2 %}
  <div>
    {{ IndividualGraph2YearContainer.render(BOOTH_DATA=iteration[0],
    should_display_year=True, COLORS=COLORS, LEVEL_NO=iteration[0]["booth_no"])
    }} {{ IndividualGraph2YearContainer.render(BOOTH_DATA=iteration[1],
    should_display_year=False, COLORS=COLORS, LEVEL_NO=iteration[1]["booth_no"])
    }}
  </div>

  {% elif GRAPH_FORMAT == 4 %}
  <div>
    {{ IndividualGraph4YearContainer.render(BOOTH_DATA=iteration[0],
    should_display_year=True, COLORS=COLORS, LEVEL_NO=iteration[0]["booth_no"])
    }} {{ IndividualGraph4YearContainer.render(BOOTH_DATA=iteration[1],
    should_display_year=False, COLORS=COLORS, LEVEL_NO=iteration[1]["booth_no"])
    }}
  </div>

  {% else %}
  <div>TEST</div>
  {% endif %}
</div>
{% endfor %} {% endfor %}
